body {
  background: url(https://i.pinimg.com/originals/f3/a0/d3/f3a0d3fa58cde65f6f1ba7499e8d470d.jpg) no-repeat center fixed;
  font-family: 'Jura', sans-serif;
  
}
.cards{
  display: flex;
  justify-items: center;
  align-content: space-between;
  margin: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.w-75 {
  width: 75%!important;
  padding: 10px;
  margin-right: 28px;
  border: 2px solid lightgray;
  border-radius: 50px 20px;
  background: transparent;
  
}

input{
  margin-bottom: 10px;
}

form{
  width: 50%;
  margin: 0 auto;
  
  
}


.list{
  width: 75%!important;
  padding: 20px;
  padding-right: 50px ;
  border: 2px solid black;
  border-radius: 50px 20px;
  background: transparent;
  margin: auto;
  margin-bottom: 5rem;
}

button {
  padding: 5px;
  margin: 10px;
  border-radius: 50px;
  display: flex;
  justify-items: center;
  align-content: space-between;
  color: black;
}
a {
  width: 75%!important;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid black;
  display: flex;
  justify-items: center;
  align-content: space-between;
  text-align: center;
  color:whitesmoke;
}


a:hover {
  background-color: wheat;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.jumbotron {
  background: transparent;
  color: black;
}
.navbar{
  color: white;
}

.btn1{
  align-content: center;
}

h1{
  text-align: center;
  color: black;
}

p{
  color: whitesmoke;
}

.lead{
  color: black;
  text-align: center;
}

